.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
*.iml
.DS_Store
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
linux/flutter/ephemeral/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
android/
ios/
.metadata
fcbaz.iml
.idea/
signing/
signing/
**/fcbaz-release.jks
**/key.properties
**/signing-key-info.txt
android/
